<br>
<br>
<form action="/" method="get">
    <input type="submit" value="Back to Albums Table"> 
</form>

<H3>Album: {{album_info.title}} <br>
Artist: {{album_info.artist}} <br>
Songs: {{songs_count}}</H3>

<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: auto;
  table-layout:fixed;
  padding: 6px;
}

tr {background-color: #abe9e9;}
tr:first-child {background-color: #6fc2c2;}

td { word-wrap:break-word; }
</style>
<body>

<table >
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Play</th>
    <th>Action</th>
  </tr>
  
  <tr>
    {% for song in Songs %}
  <tr>
    
    <th> {{ song.name }}</th>
    <th> {{ song.duration }}</th>
    <th><iframe   style="border-radius:12px" src={{song["player_src"]}} width="250" height="80" allow="autoplay; clipboard-write; encrypted-media;"></iframe></th>
    <th>
      <div style="float: left; width: 50" > 
        <form action="edit_song" method="post">
          <input type="hidden" value="{{ song.id }}" name="editing_song_id">
          <input type="submit" value="Edit"> 
        </form> 
      </div>
      <div style="float: left;" > 
        <form action="song_delete" method="post">
          <input type="hidden" value="{{ song.id }}" name="song_id">
          <input type="submit" value="Delete"> 
        </form> 
      </div>
          
    </th>
    
  </tr> 
    {% endfor %}

</table>

</body>
</html>