<h1>CRUD APP</h1>
<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  padding: 6px;
}

tr {background-color: #abe9e9;}
tr:first-child {background-color: #6fc2c2;}

td { word-wrap:break-word; }
</style>

<form action="" method="post"> 
  <a>Search on Spotify API for albums to add to the Database</a> <br>
  <input type="text" name="input_search" value="" required> 
  <br>
  <input type="submit" value="Search">
</form>
<br>
<br>

{% if S_albums_data %}
  <table style="width:75%">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Released</th>
      <th>Total Tracks</th>
      <th>Action</th>
    </tr>
    
    <tr>
      {% for album in S_albums_data %}
    <tr>
      
      <th> {{ album.title }}</th>
      <th> {{ album.artist }}</th>
      <th> {{ album.released }}</th>
      <th> {{ album.total_tracks }}</th>
      <th>
        
        <div style="float: left; width: 80"> 
          <form action="s_tracks" method="post">
            <input type="hidden" value="{{ album.id }}" name="exploring_s_album_id">
            <input type="submit" value="Explore"> 
          </form>
        </div>
        <div style="float: left; width: 60" > 
          <form action="s_album_insert" method="post">
            <input type="hidden" value="{{ album.id }}" name="inserting_s_album_id">
            <input type="submit" value="Save"> 
          </form> 
        </div>
            
      </th>
      
    </tr> 
      {% endfor %}
      
  </table>
{% endif %}
<br>
<br>
<form action="album_insert" method="post">
    
        <lable for="title">Title</lable> 
        <input type="text" name="title" value="" required> <br>

        <lable for="artist">Artist</lable> 
        <input type="text" name="artist" value="" required> <br>
        
        <label for="released">Released</label>
        <input type="date" name="released" value="" min="1900-01-01" max="2025-01-01" required> <br>

        <input type="submit" value="Insert New Album">
</form>


<body>

<h2>Albums Table</h2>
<h4>{% if Albums_count == 0 %}
    The Database is Empty, Insert your first Album above!!
    {% elif Albums_count == 1 %}
    There is only 1 Album on the Database, try adding some more!!
    {% else %}
    There are {{Albums_count}} albums on the Database, 'Explore' them to check out the songs!!!
    {% endif %}</h4>

<table style="width:75%">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Released</th>
      <th>Action</th>
    </tr>
    <tr>
      {% for album in Albums %}
    <tr>
        <h4>{% if Editing_album.id != album.id %}
            <th> {{ album.title }}</th>
            <th> {{ album.artist }}</th>
            <th> {{ album.released }}</th>
            <th>
              
              <div style="float: left; width: 80"> 
                <form action="tracks" method="post">
                  <input type="hidden" value="{{ album.id }}" name="exploring_album_id">
                  <input type="submit" value="Explore"> 
                </form>
              </div>
              <div style="float: left; width: 60" > 
                <form action="edit_album" method="post">
                  <input type="hidden" value="{{ album.id }}" name="editing_album_id">
                  <input type="submit" value="Edit"> 
                </form> 
              </div>
              <div style="float: left; width: 70"> 
                <form action="album_delete" method="post">
                  <input type="hidden" value="{{ album.id }}" name="deleting_album_id">
                  <input type="submit" value="Delete"> 
                </form>
              </div>
              
            </th>
            {% else %}
            <form action="edit_album" method="post">
            <th><input type="text" name="edited_title" value="{{ album.title }}" required></th>
            <th><input type="text" name="edited_artist" value="{{ album.artist }}" required></th>
            <th><input type="date" name="edited_released" value="{{ album.released }}" min="1900-01-01" max="2025-01-01" required></th>
            <th>
                <input type="hidden" name="edited_album_id" value="{{ album.id }}">
                <input type="submit" value="Save"> 
            </th>
            </form>
            
            {% endif %}</h4> 
            
      
    </tr> 
      {% endfor %}
      
  </table>
  <br>
  <br>
  <form action="reset" method="post">
    <input type="submit" value="Reset Database">
  </form>

  </body>
  </html>