<h1>CRUD APP</h1>

<form action="album_insert" method="post">
    
        <lable for="title">Title</lable> 
        <input type="text" name="title" value="" required> <br>

        <lable for="artist">Artist</lable> 
        <input type="text" name="artist" value="" required> <br>
        
        <label for="released">Released</label>
        <input type="date" name="released" value="" min="1900-01-01" max="2025-01-01" required> <br>

        <input type="submit" value="Insert New Album">
</form>
<form action="reset" method="post">
  <input type="submit" value="Reset Database">
</form>
<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
  padding: 6px;
}

tr {background-color: #abe9e9;}
tr:first-child {background-color: #6fc2c2;}

td { word-wrap:break-word; }
</style>
<body>

<h2>Albums Table</h2>
<h4>{% if Rows_count == 0 %}
    The Albums table is Empty
    {% elif Rows_count == 1 %}
    There is 1 row on the Albums table
    {% else %}
    There are {{Rows_count}} rows on the Albums table
    {% endif %}</h4>

<table style="width:50%">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Released</th>
    <th>Action</th>
  </tr>
  
  <tr>
    {% for row in Albums %}
  <tr>
    
    <th> {{ row.title }}</th>
    <th> {{ row.artist }}</th>
    <th> {{ row.released }}</th>
    <th>
        <form action="edit" method="post">
          <input type="hidden" value="{{ row.id }}" name="row_id">
          <input type="submit" value="Edit"> 
        </form>
    </th>
    
  </tr> 
    {% endfor %}
    
</table>

</body>
</html>