<h1>CRUD APP</h1>
<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: auto;
  table-layout:fixed;
  padding: 6px;
}

tr {background-color: #abe9e9;}
tr:first-child {background-color: #3aaaaa;}

td { word-wrap:break-word; }
</style>

<form action="search" method="post">
    
  <a>Search on Spotify for Albums and Songs to add to the Database</a><br>
        <input type="text" name="input_search" value="" required> 
        <br>
        <input type="submit" value="Search">
</form>

{% if S_albums_data %}
<h2>Search Results</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Released</th>
      <th>Total Tracks</th>
      <th>Action</th>
    </tr>
    
    <tr>
      {% for album in S_albums_data %}
    <tr>
      
      <th> {{ album.title }}</th>
      <th> {{ album.artist }}</th>
      <th> {{ album.released }}</th>
      <th> {{ album.total_tracks }}</th>
      <th>
        
        <div style="float: left; width: 75;"> 
          <form action="s_tracks" method="post">
            <input type="hidden" value="{{ album.id }}" name="s_album_id">
            <input type="hidden" value="{{ album.title }}" name="s_album_title">
            <input type="hidden" value="{{ album.artist }}" name="s_album_artist">
            <input type="hidden" value="{{ album.total_tracks }}" name="total_tracks">
            <input type="submit" value="Explore"> 
          </form>
        </div>
        
        <div style="float: right;" > 
          <form action="album_insert" method="post">
            <input type="hidden" value="{{ album.id }}" name="s_id">
            <input type="hidden" value="{{ album.title }}" name="title">
            <input type="hidden" value="{{ album.artist }}" name="artist">
            <input type="hidden" value="{{ album.released }}" name="released">
            <input type="hidden" value="{{ album.total_tracks }}" name="total_tracks">
            <input type="submit" value="Add to Database"> 
          </form> 
        </div>
            
      </th>
      
    </tr> 
      {% endfor %}
      
  </table>
  <br>
{% endif %}

<body>
<h2>Albums Table</h2>
<h4>{% if Albums_count == 0 %}
    The Database is Empty, Insert your first Album above!!
    {% elif Albums_count == 1 %}
    There is only 1 Album on the Database, try adding some more!!
    {% else %}
    There are {{Albums_count}} albums on the Database, 'Explore' them to check out the songs!!!
    {% endif %}</h4>

<table>
  <tr>
    <th>Album</th>
    <th>Artist/Description</th>
    <th>Released</th>
    <th>Total Tracks</th>
    <th>Action</th>
  </tr>

  <tr>
    <form action="costume_album" method="post">
      <th><input type="text" name="title" value="" required></th>
      <th><input type="text" name="artist" value="" ></th>
      <th>  </th>
      <th>{{ 0 }}</th>
      <th>
          <input type="submit" value="Create Album"> 
      </th>
      </form>
  </tr>
  
  <tr>
    {% for album in Albums %}
  <tr>
    
    <th> {{ album.title }}</th>
    <th> {{ album.artist }}</th>
    <th> {{ album.released }}</th>
    <th> {{ album.total_tracks }}</th>
    <th>
      
      <div style="float: left; width: 80"> 
        <form action="tracks" method="post">
          <input type="hidden" value="{{ album.id }}" name="exploring_album_id">
          <input type="submit" value="Explore"> 
        </form>
      </div>
      <div style="float: left; width: 80" > 
        <form action="edit_album" method="post">
          <input type="hidden" value="{{ album.id }}" name="editing_album_id">
          <input type="submit" value="Edit Name"> 
        </form> 
      </div>
      <div style="float: left; width: 70"> 
        <form action="album_delete" method="post">
          <input type="hidden" value="{{ album.id }}" name="deleting_album_id">
          <input type="submit" value="Delete"> 
        </form>
      </div>
          
    </th>
    
  </tr> 
    {% endfor %}
    
</table>
<br>
<br>
<form action="reset" method="post">
  <input type="submit" onclick="return clicked()" value="Reset Database">
</form>
<script type="text/javascript">
  function clicked() {
     if (confirm('This Action will delete all Albums from the Database. Click "OK" if you still want to proceed with the reset.')) {
         yourformelement.submit();
     } else {
         return false;
     }
  }

</script>
</body>
</html>