<br>
<br>
<form>
    <input type="button" value="Go back!" onclick="history.back()">
</form>

<H3>Album: {{album_info['title']}} <br>
Artist: {{album_info['artist']}} <br>
Songs: {{songs_count}}</H3>

<html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: auto;
  table-layout:fixed;
  padding: 6px;
}

tr {background-color: #abe9e9;}
tr:first-child {background-color: #6fc2c2;}

td { word-wrap:break-word; }
</style>
<body>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Play</th>
    <th>Add to existing album</th>
  </tr>

  <tr>
    {% for song in Songs[0] %}
  <tr>
    
    <th> {{ song['name'] }}</th>
    <th> {{ song['duration'] }}</th>  <!--{ song['player_src'] }-->
    <th><iframe   style="border-radius:12px" src={{song["player_src"]}} width="250" height="80" allow="autoplay; clipboard-write; encrypted-media;"></iframe></th>
    <th>
      
       
        <form action="song_insert" method="post">
            <label for="albums">Album:</label>
            <select name="album_id">
                {% for album in Albums %}
                    <option value="{{album.id}}">{{album.title}}</option>
                {% endfor %}
            </select>
            <input type="hidden" value="{{ song['name'] }}" name="name">
            <input type="hidden" value="{{ song['album_id'] }}" name="album_id">
            <input type="hidden" value="{{ song['duration'] }}" name="duration">
            <input type="hidden" value="{{song['player_src']}}" name="player_src">
            <input type="submit" value="Add">
          </form>
      
          
    </th>
    
  </tr> 
    {% endfor %}

</table>

</body>
</html>